{% load static %}

{% include "parts/logo-sidebar.html" %}

<nav class="flex-grow p-4 overflow-y-auto">
    <ul class="space-y-2">
      <li>
        <a href="{% url 'dashboard:index' %}"
        class="flex items-center p-2 {% if active_menu == 'dashboard' %}bg-sky-600 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %} rounded-md">
          {% include 'icons/dashboard.html' %}
          <span class="ml-3">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="{% url 'churches:church_list' %}"
        class="flex items-center p-2 {% if active_menu == 'churches' %}bg-sky-600 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %} rounded-md">
          {% include 'icons/churches.html' %}
          <span class="ml-3">Igrejas</span>
        </a>
      </li>
      <li>
        <a href="{% url 'members:member_list' %}"
        class="flex items-center p-2 {% if active_menu == 'members' %}bg-sky-600 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %} rounded-md">
          {% include 'icons/members.html' %}
          <span class="ml-3">Membros</span>
        </a>
      </li>
      <li>
        <a href="{% url 'events:event_list' %}"
        class="flex items-center p-2 {% if active_menu == 'events' %}bg-sky-600 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %} rounded-md">
          {% include 'icons/events.html' %}
          <span class="ml-3">Eventos</span>
        </a>
      </li>
      <li>
        <a href="{% url 'finances:income_list' %}"
        class="flex items-center p-2 {% if active_menu == 'finances' %}bg-sky-600 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %} rounded-md">
          {% include 'icons/finances.html' %}
          <span class="ml-3">Finanças</span>
        </a>
      </li>
      <li>
        <a href="{% url 'school:school_class_list' %}"
        class="flex items-center p-2 {% if active_menu == 'school' %}bg-sky-600 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %} rounded-md">
          {% include 'icons/school.html' %}
          <span class="ml-3">Escola</span>
        </a>
      </li>
      <li>
        <a href="{% url 'reports:index' %}"
        class="flex items-center p-2 {% if active_menu == 'reports' %}bg-sky-600 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %} rounded-md">
          {% include 'icons/reports.html' %}
          <span class="ml-3">Relatórios</span>
        </a>
      </li>
      {% if user.role == 'admin' %}
        <li>
          <a href="{% url 'users:user_list' %}"
          class="flex items-center p-2 {% if active_menu == 'users' %}bg-sky-600 text-white{% else %}text-gray-300 hover:bg-gray-700 hover:text-white{% endif %} rounded-md">
            {% include 'icons/users.html' %}
            <span class="ml-3">Usuários</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>